<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand glyphicon glyphicon-home" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fa fa-user" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Personnel
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/ajoutPersonnel']">Ajouter</a>
                    <a class="dropdown-item" [routerLink]="['/personnel']">Lister</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/ajoutRole']">Ajouter un statut</a>
                    <a class="dropdown-item" [routerLink]="['/role']">Lister les statuts</a>

                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fa fa-th-list" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tâches
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/ajoutTache']">Ajouter</a>
                    <a class="dropdown-item" [routerLink]="['/tache']">Lister</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/etat']">Lister les états</a>
                    <a class="dropdown-item" [routerLink]="['/ajoutEtat']">Ajouter un état</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fas fa-paw" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Animaux
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/ajoutAnimaux']">Ajouter</a>
                    <a class="dropdown-item" [routerLink]="['/animaux']">Lister</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/ajoutNourriture']">Ajouter Nourriture</a>
                    <a class="dropdown-item" [routerLink]="['/nourriture']">Afficher les stocks</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fas fa-home" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Enclos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/ajoutEnclos']">Ajouter</a>
                    <a class="dropdown-item" [routerLink]="['/enclos']">Lister</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fas fa-map" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Zone
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/ajoutZone']">Ajouter</a>
                    <a class="dropdown-item" [routerLink]="['/zone']">Lister</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle far fa-calendar-check" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Planning
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/planning']">Afficher le planning</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="media align-items-center">
                        <div class="media-body ml-2 d-none d-lg-block">
                            <span class="mb-0 text-sm  font-weight-bold">{{user}}</span>
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Bienvenue!</h6>
                    </div>
                    <a [routerLink]="['/planning']" class="dropdown-item" >
                        <i class="ni ni-calendar-grid-58"></i>
                        <span>Planning</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#!" class="dropdown-item">
                        <i class="ni ni-user-run"></i>
                        <span>Se déconnecter</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>