<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/jungle.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
        <a class="simple-text logo-normal">
            Zoo Java
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item  ">
                <a class="nav-link" [routerLink]="['/etat']">
                    <i class="material-icons">dashboard</i>
                    <p>Tâches</p>
                </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link">
                    <i class="material-icons">event</i>
                    <p>Planning</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" >
                    <i class="material-icons">person</i>
                    <p>Personnel</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/zone']">
                    <i class="material-icons">map</i>
                    <p>Zone</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link">
                    <i class="fas fa-map-marked"></i>
                    <p>Enclos</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link">
                    <i class="fa fa-paw"></i>
                    <p>Animaux</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link">
                    <i class="fas fa-drumstick-bite"></i>
                    <p>Nourriture</p>
                </a>
            </li>
        </ul>
    </div>
</div>