<!-- Page content -->
<div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <h4>Formulaire d'ajout d'un animal</h4>
                    </div>
                    <form [formGroup]="animalForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-plus"></i></span>
                                </div>
                                <input type="text" id="espece" placeholder="Espèce de l'animal"
                                    [(ngModel)]="animal.espece" formControlName="espece"
                                    [ngClass]="{'is-invalid': submitted && f.espece.errors}">
                            </div>
                            <div *ngIf="submitted && f.espece.errors">
                                <div class="erreur" *ngIf="f.espece.errors.required">Entrer une espèce</div>
                            </div>

                            <hr class="my-4" />
                            <!-- Affectation de l'enclos -->
                            <h6 class="heading-small text-muted mb-4">Affectation de l'enclos</h6>
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-plus"></i>Nom de l'enclos</span>
                                </div>
                                <select class="form-group" class="form-control" [(ngModel)]="animal.enclos"
                                    formControlName="enclos" [ngClass]="{'is-invalid': submitted && f.enclos.errors}">
                                    <option>Sélectionnez...</option>
                                    <option *ngFor="let enclos of listeEnclos" [ngValue]="enclos">{{enclos.zone.nom}}</option>
                                </select>
                            </div>
                            <div *ngIf="submitted && f.enclos.errors">
                                <div class="erreur" *ngIf="f.enclos.errors.required">Sélectionner un enclos</div>
                            </div>
                            <hr class="my-4" />
                            <!-- Affectation de la nourriture -->
                            <h6 class="heading-small text-muted mb-4">Affectation de la nourriture</h6>
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-plus"></i>Type de nourriture</span>
                                </div>
                                <select class="form-group" class="form-control" [(ngModel)]="animal.nourriture"
                                    formControlName="nourriture" [ngClass]="{'is-invalid': submitted && f.nourriture.errors}">
                                    <option>Sélectionnez...</option>
                                    <option *ngFor="let nourriture of listeNourriture" [ngValue]="nourriture">{{nourriture.nom}}</option>
                                </select>
                            </div>
                            <div *ngIf="submitted && f.nourriture.errors">
                                <div class="erreur" *ngIf="f.nourriture.errors.required">Sélectionner de la nourriture</div>
                            </div>

                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-4">Ajouter</button>
                            <button type="reset" class="btn btn-light mt-4">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>