<div class="container-fluid mt--7">
    <!-- Dark table -->
    <div class="row mt-5">
        <div class="col">
            <div class="card bg-default shadow">
                <div class="card-header bg-transparent border-0">
                    <h3 class="text-black mb-0">Sotck de nourriture</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-dark table-flush">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id de la nourriture</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Modifier</th>
                                <th scope="col">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let nourriture of listeNourriture |filter:searchText, let i=index">
                                <td>{{nourriture.idNou}}</td>
                                <td>{{nourriture.nom}}</td>
                                <td>{{nourriture.stock}}</td>
                                <td><button type="button" class="fa fa-pencil-square-o btn btn-warning" [routerLink]="['/modifierNourriture',nourriture.idNou]"></button></td>
                                <td><button type="button" class="fas fa-trash-alt btn btn-danger" (click)="notif(nourriture.idNou, i)"></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>